# PANDAS EXERCISE FOR PRACTICE

## Difficulty: easy

## IMporting Pandas

### 1. Import pandas under the alias pd

In [ ]:
import pandas as pd
import numpy as np

### 2. Print the version of pandas that has been imported

In [ ]:
pd.__version__

### 3. Print out all the version information of the libraries that are required by the pandas library

In [ ]:
pd.show_versions()

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

### 4. Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
data = {
  "animal": [
    "cat",
    "cat",
    "snake",
    "dog",
    "dog",
    "cat",
    "snake",
    "cat",
    "dog",
    "dog",
  ],
  "age": [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
  "visits": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
  "priority": ["yes", "yes", "no", "yes", "no", "no", "no", "yes", "no", "no"],
}

labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

df = pd.DataFrame(data=data,index=labels)
df

### 5. Display a summary of the basics information about this DateFrame and its data (hint: there is a single method that can be called on the dataframe)

In [ ]:
df.info()

### 6. Return the first 3 rows of the dataframe `df`

In [ ]:
df.head(3)

### 7. Select just the `animal` and `egg` from the DataFrame

In [ ]:
df[['animal','age']]

### 8. Select the data in rows [3,4,8] and in columns ['animal','age']

In [ ]:
df[['age','animal']].iloc[[2,3,7]]

### 9. Select only the rows where the number of visits is greater than or equal to 3

In [ ]:
df[df.visits >= 3]

In [ ]:
df[df['visits'] >= 3]

### 10. Select the rows where the age is missing, i.e it is nan

In [ ]:
df[df.age.isna()]

### 11. Select the rows where the animal is a cat and the age is less than 3

In [ ]:
df[(df.animal == 'cat') & (df.age < 3)]

### 12. Select the rows the age is between 2 and 4 (inclusive)

In [ ]:
df[(df.age <= 4) & (df.age >=2)]

### 13. Change the age in row 'f' to 1.5

In [ ]:
df['age'].iloc[5] = 1.5
df.iloc[5]

In [ ]:
df

### 14. calculate the sum of all visits in df (i.e find the total number of visits)

In [ ]:
df['visits'].sum()

### 15. Calculate the mean age for each different animal in df

In [ ]:
avg_age = df.groupby('animal')['age'].mean().reset_index()
avg_age

In [ ]:
df.groupby('animal')['age'].agg('mean').reset_index()