In [1]:
import pandas as pd 
import numpy as np
s = pd.Series([12,-4,7,9])
s

0    12
1    -4
2     7
3     9
dtype: int64

In [10]:
list1 = ['a','b','c','d']
labels = [1,2,3,4]
ser1 = pd.Series(data=list1,index=labels,name="Hello")
ser1
ser1.name

'Hello'

In [6]:
import numpy as np

arr1 = np.array([1,2,3,4,5])
ser2 = pd.Series(arr1)
ser2

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [9]:
dict1 = ({'fName':'Derek','lName':'Banas','age':32},name='Hello')

dict1
dict1.name

SyntaxError: invalid syntax (4279759870.py, line 1)

In [8]:
ser1 * ser2

0      NaN
1       aa
2      bbb
3     cccc
4    ddddd
dtype: object

Data frames

In [11]:
arr2 = np.random.randint(10,50,size=(2,3))
df1 = pd.DataFrame(arr2 ,['A','B'], ['C','D','E'])
df1

    C   D   E
A  25  25  14
B  34  40  12

In [12]:
dict3 = {'one':pd.Series([1,2,3],index=['a','b','c']),
         'two':pd.Series([4,5,6,7 ],index=['a','b','c','d'])
         }
df2 = pd.DataFrame(dict3)
df2

   one  two
a  1.0    4
b  2.0    5
c  3.0    6
d  NaN    7

In [13]:
pd.DataFrame.from_dict(dict([('A',[1,2,3]),('B',[4,5,6])]),
                       orient = 'index',columns=['one','two','three'])

   one  two  three
A    1    2      3
B    4    5      6

In [14]:
print(df2.shape)

(4, 2)