In [ ]:
import pandas as pd 
import numpy as np

In [3]:
import pandas as pd 
import numpy as np

pd.DataFrame.from_dict(dict([('A',[1,2,3]),('B',[4,5,6])]),
                       orient = 'index',columns=['one','two','three'])

   one  two  three
A    1    2      3
B    4    5      6

In [ ]:
df1 = pd.DataFrame({'A':[1,np.nan,3,np.nan]})
df2 = pd.DataFrame({'A':[8,9,3,5]})
df1.combine_first(df2)

In [7]:
arr1 = np.random.randint(10,50,size = (2,3))
df3 = pd.DataFrame(arr1 , ['A','B'],['C','D','E'])
df3

    C   D   E
A  24  16  38
B  14  26  35

In [ ]:
print('Greater than 30 only\n', df3 > 30)

In [ ]:
bool1 = df3 > 25
df3[bool1]

In [ ]:
df4 = df3[df3['E'] > 30 ]
df4

In [ ]:
df4['E']

Importing data files

In [ ]:
import pymysql 
import numpy as np 
import pandas as pd
cs_df = pd.read_csv('./csv/computerSales.csv') 

cs_df

In [ ]:
import pandas as pd
# cs_df.to_csv('computerSales.csv')
# pd.read_excel('Financial Sample.xlsx',0)
pd.read_excel('./csv/Financial Sample.xlsx',0)

In [ ]:
cs_df1 = pd.read_csv('./csv/icecreamsales.csv') 
cs_df1

In [ ]:
cs_df.to_excel('./csv/ComputerSales.xlsx')
pd.read_excel('./csv/ComputerSales.xlsx')

In [12]:
import pymysql 

try:
    db_connection = pymysql.connect(db='create-db-store',user='root',password='mysqlphpdatabase123',host='localhost',port=3306) 
    storeDf = pd.read_sql('SELECT * FROM create-db-store', con=db_connection)
    print(storeDf)
except Exception as e:
    print('Exception : {}'.format(e))

Exception : (1049, "Unknown database 'products'")