In [ ]:
import pandas as pd 
import numpy as np

In [3]:
pd.DataFrame.from_dict(dict([('A',[1,2,3]),('B',[4,5,6])]),
                       orient = 'index',columns=['one','two','three'])

   one  two  three
A    1    2      3
B    4    5      6

In [5]:
df1 = pd.DataFrame({'A':[1,np.nan,3,np.nan]})
df2 = pd.DataFrame({'A':[8,9,3,5]})
df1.combine_first(df2)

     A
0  1.0
1  9.0
2  3.0
3  5.0

In [7]:
arr1 = np.random.randint(10,50,size = (2,3))
df3 = pd.DataFrame(arr1 , ['A','B'],['C','D','E'])
df3

    C   D   E
A  24  16  38
B  14  26  35

In [15]:
print('Greater than 30 only\n', df3 > 30)

Greater than 30 only
        C      D     E
A  False  False  True
B  False  False  True

In [16]:
bool1 = df3 > 25
df3[bool1]

    C     D   E
A NaN   NaN  38
B NaN  26.0  35

In [18]:
df4 = df3[df3['E'] > 30 ]
df4

    C   D   E
A  24  16  38
B  14  26  35

In [20]:
df4['E']

A    38
B    35
Name: E, dtype: int32